/* Header Background Styles */

.header-background {
  background-image: url("../img/header/index-background-smart-home.jfif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 60vh;
}
